<div class="container-fluid">
  <div class="col-7">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Marca</th>
          <th class="col-3">Línea</th>
          <th class="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicule of vehicules">
          <th scope="row">{{vehicule.id}}</th>
          <td>
            <dd>{{vehicule.marca}}</dd>
          </td>
          <td>
            <dd>{{vehicule.linea}}</dd>
          </td>
          <td>
            <dd>{{vehicule.modelo}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngFor="let elemento of elementos">
  <p class="m-0">Total {{elemento.marca}}: {{elemento.cantidad}}</p>
</div>